<nav id="top-nav">
    <a href='/'>Home</a>
    <a href='/archives'>Archive</a>
    <a href='/gallery'>Gallery</a>
</nav>
<div id="post-div">
    <h3><%- page.title %></h3>
    <h5>
        <%= date(page.date, config.date_format) %>
    </h5>
    <hr>
    <div id="post-content">
        <%- page.content %>
    </div>
</div>
