<div id="project-div">
    <h3>Some of my favorite projects</h3>
    <div id="project-container">
        <% for (var value in site.data.projectData) { %>
            <div>
                <img src="<%- site.data.projectData[value].imageLink %>">
            </div>
        <% } %>
    </div>
    <div id="project-description">
        <% for (var value in site.data.projectData) { %>
            <div>
                <h4><%- site.data.projectData[value].name %></h4>
                <hr>
                <p><%- site.data.projectData[value].description %></p>
            </div>
        <% } %>
    </div>
</div>
