<nav id="side-nav">
    <div id="side-nav-indicator-container">
        <div id="side-nav-indicator"></div>
    </div>
    <div id="side-nav-links">
        <a href="#about-div" class="current-section">About</a>
        <a href="#project-div">Projects</a>
        <a href="#experience-div">Experience</a>
        <a href="#blog-div">Blog</a>
        <a href="#footer-div">Contact</a>
    </div>
</nav>
