<div id="title-div">
    <div id="title-content">
        <img src="images/profile.png">
        <h1>Hi! I'm <b><%= config.author %></b>.</h1>
        <h2><%= site.data.selfData.oneLiner %></h2>
        <a href="#footer-div">Contact me</a>
    </div>
    <div id="down"><a href="#about-div"><i class="fa fa-chevron-down"></i></a></div>
</div>
