$roboto: 'Roboto', sans-serif;
$roboto-mono: 'Roboto Mono', monospace;
$regular: 400;
$light: 300;
$grey: #E0E0E0;
$bluegrey: #828A9E;
$mutedred: #C26868;
$darkgrey: #222222;

body {
    font-family: $roboto;
    font-weight: $regular;
    color: $darkgrey;
    text-align: center;
    margin: 0;

    a {
        color: $mutedred;
        text-decoration: none;
    }

    h1 {
        font-weight: $light;
        font-size: 64px;
    }

    h2 {
        font-weight: $light;
        font-size: 18px;
    }

    h3 {
        font-family: $roboto-mono;
        font-size: 18px;
        padding-bottom: 50px;
    }

    h4 {
        font-size: 20px;
    }

    h5 {
        font-weight: $light;
        font-size: 12px;
    }

    p {
        font-weight: $regular;
        font-size: 14px;
        line-height: 150%;
    }

    li {
        font-weight: $light;
        font-size: 14px;
        line-height: 150%;
    }

    table, th, td {
        border: 2px solid black;
        font-weight: $light;
        font-size: 14px;
        line-height: 150%;
        border-collapse: collapse;
    }

    td {
        padding: 10px;
    }

    pre, code {
        font-family: $roboto-mono;
        font-size: 12px;
        font-weight: $regular;
    }

    footer {
        font-family: $roboto-mono;
        font-weight: $regular;
        font-size: 12px;
    }

    > div {
        padding: 4% 25%;
    }

    > div:nth-of-type(odd) {
        background: $grey;
    }

    > div:nth-of-type(4n) {
        background: $mutedred;
    }

    > div:nth-of-type(4n+2) {
        background: $bluegrey;
    }

    #side-nav {
        position: fixed;
        height: 100%;
        border-right: 2px solid $darkgrey;
        width: 10%;
        z-index: 1;

        #side-nav-indicator-container {
            top: 44%;
            position: absolute;
            height: 32px;
            margin-top: 20px;
            width: 16px;
            left: 100%;
            float: right;
            transform: translateX(-50%);

            #side-nav-indicator {
                width: 16px;
                height: 16px;
                border-radius: 50%;
                background: $darkgrey;
                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }

        #side-nav-links {
            width: 85%;
            height: 100%;
            top: 44%;
            position: absolute;
            transition: transform 0.5s;

            a {
                height: 32px;
                line-height: 32px;
                font-weight: $light;
                color: $darkgrey;
                display: block;
                text-align: right;
                font-size: 16px;
                margin: 20px 0;
                transition: font-size 0.5s;
            }

            a.current-section {
                font-size: 30px;
            }
        }
    }

    #title-div {
        padding-top: 0;
        padding-bottom: 0;
        height: 100vh;

        #title-content {
            position: relative;
            top: -10%;
            z-index: 1;
            img {
                border: 1px solid black;
                border-radius: 50%;
                padding: 15px;
                visibility: hidden;
            }

            ul {
                margin-top: 40px;
            }
        }

        #down {
            position: absolute;
            left: 0;
            right: 0;
            margin: auto;
            bottom: 3%;
            z-index: 1;
            a {
                color: $darkgrey;

                i {
                    font-size: 28px;
                }
            }
        }

        canvas {
            width: 100%!important;
            height: 100%!important;
            position: absolute;
            top: 0;
            left: 0;
        }
    }

    #project-div {

        #project-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }

        img {
            height: 200px;
            width: 200px;
            transition: all 0.5s;
            position: relative;
            top: 10px;
            left: 10px;
            margin-bottom: 20%;
        }

        img:hover {
            top: 5px;
            left: 5px;
            box-shadow: 10px 10px 50px -6px rgba(120,120,120,1);
        }

        #project-description {
            position: relative;
            height: 180px;

            div {
                opacity: 0;
                top: 0;
                position: absolute;
                width: 70%;
                height: 100%;
                left: 0;
                right: 0;
                margin: auto;
                transition: opacity 0.5s;
            }
        }
    }

    #experience-div {
        #experience-container {
            div {
                display: flex;
                padding-bottom: 10%;

                img {
                    width: 70px;
                    height: 70px;
                    border-radius: 50%;
                    padding: 0 20px;
                }

                p:nth-of-type(1) {
                    min-width: 200px;
                    text-align: right;
                    padding: 0 20px;
                    margin: 0;
                }

                p:nth-of-type(2) {
                    text-align: left;
                    padding: 0 20px;
                    margin: 0;
                    line-height: 200%;
                }
            }
        }
    }

    #blog-div {
        > a {
            text-transform: uppercase;
        }
    }

    #footer-div {
        padding-bottom: 0;

        form {
            padding-bottom: 20px;

            input {
                display: block;
                margin: auto;
            }

            input[type="email"], textarea, input[type="submit"] {
                font-family: $roboto-mono;
                color: $darkgrey;
                margin: 0 auto;
                margin-bottom: 20px;
                padding: 10px;
                width: 70%;
            	background: none;
                border: 2px solid $darkgrey;
            }

            input[type="email"]:focus, textarea:focus, input[type="submit"]:focus {
            	outline: none;
            }

            input[type="email"] {
                min-height: 20px;
            }

            input[type="submit"] {
                width: 100px;
            }

            input[type="submit"]:hover {
                background-color: $darkgrey;
                color: white;
                cursor: pointer;
            }

            input[type="submit"]:focus {
                background-color: transparent;
                color: $darkgrey;
            }

            textarea {
                resize: vertical;
                min-height: 150px;
            }
        }

        footer {
            padding: 20px 0;
        }
    }

    #top-nav {
        font-family: $roboto-mono;
        font-size: 14px;
        padding: 20px 25%;
        text-align: right;
        position: absolute;
        left: 0;
        right: 0;

        a {
            color: $darkgrey;
            margin-left: 30px;
        }
    }

    #post-div {
        padding-top: 7%;

        > h3 {
            padding: 0;
        }

        > hr {
            margin: 30px auto;
            width: 90%;
        }
    }

    #post-content {
        text-align: left;

        h1, h2, h3, h4, h5, h6, a, p, ul, ol, li {
            font-family: $roboto;
        }

        h1, h2, h3, h4, h5, h6, p {
            padding: 0;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: $regular;
        }

        img {
                max-height: 30em;
                max-width: 80%;
                display: block;
                margin: 0 auto;
        }

        figure {
            overflow: auto;
        }
    }


    .blog {
        text-align: left;
        margin-bottom: 100px;

        h4 {
            margin-top: 0;

            a {
                color: $darkgrey;
            }
        }
    }

    .personalLinks {
        column-count: 4;
        width: 40%;
        margin: auto;
        padding: 0;
        padding-bottom: 5%;

        li {
            list-style-type: none;
            width: 20px;
            margin: 0 auto;

            a {
                color: $darkgrey;

                i {
                    font-size: 24px;
                }
            }
        }
    }

    /*iPad and iPad Pro*/
    @media (max-width: 1024px) {
        > div, #top-nav {
            padding: 6% 14%;
        }

        #side-nav {
            display: none;
        }

        #experience-div {
            #experience-container {
                div {
                    flex-wrap: wrap;

                    p:nth-of-type(1) {
                        text-align: left;
                        margin-bottom: 30px;
                    }
    
                    p:nth-of-type(2) {
                        text-align: left;
                        width: 100%;
                        margin-bottom: 40px;
                    }
                }  
            }
        }

        #footer-div {
            form {
                input[type="email"], textarea {
                    width: 90%;
                }
            }
        }

        #post-div {
            padding-top: 10%;
        }
    }

    /*Google Pixel*/
    @media (max-width: 500px) {
        h1 {
            font-size: 56px;
        }

        h2 {
            font-size: 14px;
        }

        > div {
            padding: 14% 12%;
        }

        #top-nav {
            padding: initial 12%;
        }

        #title-div {
            padding: 0 12%;

            #title-content {
                position: relative;
                top: -20%;

                img {
                    width: 50%;
                    height: 50%;
                }
            }
        }

        #project-div {
            img {
                width: 140px;
                height: 140px;
            }

            #project-description {
                div {
                    width: 100%;
                }
            }
        }

        #experience-div {
            #experience-container {
                div {
                    img {
                        margin: 0 auto 30px auto;
                    }

                    p:nth-of-type(1) {
                        width: 100%;
                        text-align: center;
                    }
                }  
            }
        }

        #post-div {
            padding-top: 14%;
        }

        .personalLinks {
            width: 70%;
            padding-bottom: 10%;
        }
    }

    /*iPhone 6/7/8/X*/
    @media (max-width: 400px) {
        h1 {
            font-size: 48px;
        }

        h2 {
            font-size: 13px;
        }

        #project-div {
            img {
                width: 120px;
                height: 120px;
            }
        }
    }

    /*iPhone 4/5*/
    @media (max-width: 320px) {
        h1 {
            font-size: 44px;
        }

        h2 {
            font-size: 11px;
        }

        #project-div {
            img {
                width: 100px;
                height: 100px;
            }
        }
    }
}
